//
//  base.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 10/3/09.
//  Copyright (c) 2009-2010 Apple Inc. All rights reserved.
//

// I don't think that we should be using the headermap, since we
// have files with the same name. However, dependency tracking for
// the IDL files, and dtrace header generation depends on this,
// see:
//
// <rdar://problem/7303485> generated header files don't get correct dependencies
// <rdar://problem/7306702> dtrace header generation depends on USE_HEADERMAP=YES
USE_HEADERMAP=YES
HEADERMAP_INCLUDES_PROJECT_HEADERS=NO
HEADERMAP_INCLUDES_FRAMEWORK_ENTRIES_FOR_ALL_PRODUCT_TYPES=NO
HEADERMAP_INCLUDES_FLAT_ENTRIES_FOR_TARGET_BEING_BUILT=NO
ALWAYS_SEARCH_USER_PATHS=NO

VERSIONING_SYSTEM=apple-generic

GCC_GENERATE_DEBUGGING_SYMBOLS=YES
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym

GCC_C_LANGUAGE_STANDARD=gnu99
GCC_WARN_ABOUT_RETURN_TYPE=YES
GCC_WARN_UNUSED_VARIABLE=YES
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_STRICT_ALIASING = NO
OTHER_CFLAGS = -fPIC -fstack-protector -fno-common
WARNING_CFLAGS = -Wformat=2 -Wwrite-strings -Wcast-align -Wpointer-arith -Wstrict-prototypes -Wbad-function-cast -Wextra -Wall

RPC_OPTIMIZATION_Debug=0
RPC_OPTIMIZATION_Release=s
GCC_OPTIMIZATION_LEVEL=$(RPC_OPTIMIZATION_$(CONFIGURATION))

RPC_CATALOG_PATH=CATALOG_DIR=\"/System/Library/PrivateFrameworks/DCERPC.framework/Resources/Catalogs\"
RPC_IDIR_PATH=DEFAULT_IDIR=\"/usr/local/include\"
RPC_MODULES_PATH=IMAGE_DIR=\"/System/Library/PrivateFrameworks/DCERPC.framework/Resources/Modules\"

RPC_PATH_DEFINES=$(RPC_CATALOG_PATH) $(RPC_IDIR_PATH) $(RPC_MODULES_PATH)

RPC_DERIVED_HEADERS=$(SHARED_DERIVED_FILE_DIR) $(SHARED_DERIVED_FILE_DIR)/dce
RPC_INTERNAL_HEADERS=$(SRCROOT)/dcerpc/include
RPC_NCKLIB_HEADERS=$(SRCROOT)/dcerpc/ncklib $(SRCROOT)/dcerpc/ncklib/include/darwin

// Default header paths that targets can override
RPC_DEFAULT_HEADERS=$(RPC_INTERNAL_HEADERS) $(RPC_DERIVED_HEADERS)

// Default preprocessor symbols that targets can override
RPC_DEFAULT_DEFINES=$(RPC_PATH_DEFINES) HAVE_CONFIG_H API PIC _REENTRANT _FORTIFY_SOURCE=2 _SOCKADDR_LEN

// Set sensible defaults that targets can override
FRAMEWORK_SEARCH_PATHS=/System/Library/PrivateFrameworks
HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES)
