//
//  dceidl.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright (c) 2009-2010 Apple Inc. All rights reserved.
//

#include "base_config"

DCEIDL_HEADERS=$(SRCROOT)/dcerpc/idl_compiler $(BUILT_PRODUCTS_DIR)/DerivedSources

HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS) $(DCEIDL_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES) MIA DCETHREAD_ENFORCE_API YYERROR_VERBOSE=1 YYDEBUG=1
