//
//  dcerpc_framework.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 10/2/09.
//  Copyright (c) 2009-2010 Apple Inc. All rights reserved.
//

#include "base_config"

HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS) $(RPC_NCKLIB_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES)

EXPORTED_SYMBOLS_FILE=$(SRCROOT)/DCERPC.exports
DEAD_CODE_STRIPPING=YES

DCERPC_OTHER_LDFLAGS=-all_load
MACOSX_LD_LIBRARIES=-framework GSS

OTHER_LDFLAGS=$(DCERPC_OTHER_LDFLAGS) -framework SMBClient
OTHER_LDFLAGS[sdk=macosx*]=$(DCERPC_OTHER_LDFLAGS) $(MACOSX_LD_LIBRARIES) -framework SMBClient

INSTALL_OWNER = root
INSTALL_GROUP = wheel
INSTALL_PATH = /System/Library/PrivateFrameworks
