//
//  ncklib.xcconfig
//  ncklib
//
//  Copyright (c) 2010 Apple Inc. All rights reserved.
//

// Get the RPC_C_UXD_DIR, RPC_C_NP_DIR, and IMAGE_DIR paths

#include "base_config"

HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS) $(RPC_NCKLIB_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES) NCK
