//
//  uuid.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright (c) 2009-2010 Apple Inc. All rights reserved.
//

#include "base_config"

HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS) $(RPC_NCKLIB_HEADERS) $(SRCROOT)/dcerpc/uuid
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES)
