//
//  dceidl.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

#include "base_config"
#include "rpc_paths"

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_BASE) $(SRCROOT)/dcerpc/idl_compiler $(BUILT_PRODUCTS_DIR)/DerivedSources
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) MIA $(BASE_IDIR_PATH) $(BASE_CATALOG_PATH) YYERROR_VERBOSE=1 YYDEBUG=1
