//
//  dcerpcd.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

#include "base_config"

RPCD_DEFINES=rpcd_c_database_name_prefix1=\"/var/run/\"

HEADER_SEARCH_PATHS=$(RPC_DEFAULT_HEADERS) $(RPC_NCKLIB_HEADERS) $(SRCROOT)/dcerpc/rpcd
GCC_PREPROCESSOR_DEFINITIONS=$(RPC_DEFAULT_DEFINES) $(RPCD_DEFINES) DCETHREAD_ENFORCE_API
