//
//  dcerpc.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

// Get the RPC_C_UXD_DIR, RPC_C_NP_DIR, and IMAGE_DIR paths

#include "base_config"
#include "rpc_paths"

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_BASE4)
FRAMEWORK_SEARCH_PATHS = $(inherited) "/System/Library/PrivateFrameworks" /System/Library/Frameworks
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_PATH1) $(BASE_CATALOG_PATH)
