//
//  rpc_paths.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

#include "base_config"

BASE_RPC_PATHS = RPC_C_UXD_DIR=\"/var/rpc/ncalrpc\" RPC_C_NP_DIR=\"/var/rpc/ncacn_np\"
BASE_CATALOG_PATH = CATALOG_DIR=\"/System/Library/PrivateFrameworks/DCERPC.framework/Resources/Catalogs\"
BASE_IDIR_PATH = DEFAULT_IDIR=\"/usr/local/include\"


GCC_PREPROCESSOR_DEFINITIONS_PATH1 = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) $(BASE_RPC_PATHS) IMAGE_DIR=\"/System/Library/PrivateFrameworks/DCERPC.framework/Resources/Modules\" NCK API HAVE_SMBCLIENT_FRAMEWORK
GCC_PREPROCESSOR_DEFINITIONS_PATH2 = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) $(BASE_RPC_PATHS) NCK DCETHREAD_ENFORCE_API
