//
//  auth_gss_negotiate.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//
DYLIB_COMPATIBILITY_VERSION =
DYLIB_CURRENT_VERSION =
MACH_O_TYPE = mh_bundle
EXECUTABLE_EXTENSION = so

HEADER_SEARCH_PATHS = "$(SRCROOT)/include" "$(SRCROOT)/ncklib" "$(SRCROOT)/ncklib/include/darwin"
GCC_PREPROCESSOR_DEFINITIONS = HAVE_CONFIG_H DCETHREAD_ENFORCE_API _FORTIFY_SOURCE=2 _SOCKADDR_LEN
