//
//  rpc_paths.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

#include "base_config"

GCC_PREPROCESSOR_DEFINITIONS_PATH1 = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) RPC_C_UXD_DIR=\"/usr/local/var/rpc\" RPC_C_NP_DIR=\"/usr/local/var/rpc\" IMAGE_DIR=\"/usr/local/lib\" NCK API HAVE_SMBCLIENT_FRAMEWORK
GCC_PREPROCESSOR_DEFINITIONS_PATH2 = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) RPC_C_UXD_DIR=\"/usr/local/var/rpc\" RPC_C_NP_DIR=\"/usr/local/var/rpc\" NCK DCETHREAD_ENFORCE_API
