//
//  uuid.xcconfig
//  dcerpc
//
//  Created by Brad Suinn on 9/29/09.
//  Copyright 2009 Apple Inc. All rights reserved.
//

#include "base_config"

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_BASE2) "$(SRCROOT)/uuid"
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE2) _POSIX_C_SOURCE PIC
